@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
:root{
    --main-color: #e6e7e5;
    --text-color: #a6aa9c;
    --hover-color: #f7d3ba;
    --link-color: #a6aa9c;
}

.main {
    background: linear-gradient(var(--main-color), #fff);
}

.main-header {
    width: 100%;
    background: #fff
}

.main-sider {
    background-color: #2B3541;
}

.main-footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    background: #F1F2F6;
}

.menu-header{
    line-height: 64px;
    float: right
}

thead[class*="ant-table-thead"] th {
    background-color: #FF6C60 !important;
}

thead[class*="ant-table-thead"] th div {
    color: white;
}
li[class*="ant-menu-item"] {
    display: table;
    width: 150px;
    height:100%;
}
li[class*="ant-menu-item"] a {
    display: table-row;
    width: 150px;
    height:100%;
}

li[class*=ant-menu-item] a {
    color: #AEB2B6;
}


.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #FF6C60;
}

.ant-menu-item-selected {
    color: #AEB2B6;
}
.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
    border-right: none;
}

.ant-layout-sider-trigger {
    background-color: #FF6C60;
}